@{
    Layout="";
}
<!doctype html>
<html>

<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>Klaxon admin</title>
<link href="/dist/vendor.css" rel="stylesheet"></head>

<body class="navbar-fixed sidebar-nav fixed-nav">
	<!-- App Loading... -->
</body>
<script type="text/javascript" src="/dist/vendor.js" asp-append-version="true"></script>
<script type="text/javascript" src="/dist/main.js" asp-append-version="true"></script>

</html>